<a class={`bg-transparent border-2 text-white text-xs font-medium me-2 px-2.5 py-2 rounded-xl hover:bg-[#C9FF6C] hover:text-black hover:border-[#C9FF6C] ${Astro.props.class}`}
    href={Astro.props.href}
    target="_blank"
    rel="noopener">
    <slot /> 
</a>