<a
    target="_blank"
    href={Astro.props.href}
    role="link"
    class={`
    inline-flex items-center justify-center
    gap-2 px-3 py-2 space-x-2
    text-base text-white
    border border-[#8367c7] text-md
    transition
    hover:bg-[#8367c7] group max-w-fit rounded-xl hover:text-white
    focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-[#8367c7] ${Astro.props.class}`}
>
    <slot />
</a>