---
import SkillBar from '../components/SkillBar.astro'

const SKILLS = [
    // Frontend
    {
        nombre: 'HTML',
        nivel: 4,
        categoria: 'frontend'
    },
    {
        nombre: 'CSS',
        nivel: 4,
        categoria: 'frontend'
    },
    {
        nombre: 'Tailwind CSS',
        nivel: 4,
        categoria: 'frontend'
    },
    {
        nombre: 'JavaScript',
        nivel: 3,
        categoria: 'frontend'
    },
    {
        nombre: 'TypeScript',
        nivel: 3,
        categoria: 'frontend'
    },
    {
        nombre: 'Angular',
        nivel: 4,
        categoria: 'frontend'
    },

    // Backend
    {
        nombre: 'Maven',
        nivel: 4,
        categoria: 'backend'
    },
    {
        nombre: 'Spring Boot',
        nivel: 3,
        categoria: 'backend'
    },
    {
        nombre: 'Java',
        nivel: 5,
        categoria: 'backend'
    },
    {
        nombre: 'SQL',
        nivel: 2,
        categoria: 'backend'
    },
    {
        nombre: 'MySQL',
        nivel: 3,
        categoria: 'backend'
    },

    // Tools
    {
        nombre: 'Git',
        nivel: 3,
        categoria: 'tools'
    },
    {
        nombre: 'GitHub',
        nivel: 3,
        categoria: 'tools'
    },
    {
        nombre: 'VS Code',
        nivel: 5,
        categoria: 'tools'
    },
    {
        nombre: 'IntelliJ IDEA',
        nivel: 4,
        categoria: 'tools'
    },
    {
        nombre: 'Figma',
        nivel: 2,
        categoria: 'tools'
    },
];

const CATEGORIES = [
  { id: 'frontend', name: 'Frontend' },
  { id: 'backend', name: 'Backend' },
  { id: 'tools', name: 'Tools' },
];
---

<article id="skills" class="text-white gap-x-4 mt-8 mb-30">
    <div>
        <div class="mx-auto text-center">
            <div class="flex gap-12">
                {CATEGORIES.map(category => (
                    <div id={category.id} class="relative w-3/4">
                        <div class=" absolute -inset-0.5 rounded-lg opacity-75"></div>

                        <div class="border-2 relative bg-background rounded-lg px-6 pt-6 shadow-sm">
                            <h3 class="text-xl text-[#C9FF6C] font-bold mb-6">{category.name}</h3>
                            <div>
                                {SKILLS.filter(skill => skill.categoria === category.id).map((skill, index) => (
                                    <SkillBar skill={skill} />
                                ))}
                            </div>
                        </div>
                    </div>
                ))}
            </div>
        </div>
    </div>
</article>

<script>
    // Lógica de observación de intersección para las barras de habilidades
    document.addEventListener("DOMContentLoaded", () => {
        const skillBars = document.querySelectorAll("[id^='skill-bar-']");

        skillBars.forEach((bar) => {
            const observer = new IntersectionObserver(
                (entries) => {
                    entries.forEach((entry) => {
                        if (entry.isIntersecting) {
                            entry.target.classList.add("w-full");
                            observer.unobserve(entry.target);
                        }
                    });
                },

                { threshold: 0.1 }
            );

            observer.observe(bar);

            // Limpiar el observador cuando el componente se desmonta
            document.addEventListener("astro:after-swap", () => {
                observer.unobserve(bar);
            });
        });
    });
</script>
