---
import Libro from "./icons/LibroIcon.astro";
import Habilidades from "./icons/HabilidadesIcon.astro";
import Equipo from "./icons/EquipoIcon.astro";
---

<article class="flex gap-x-8 mb-30">
    <div class="max-w-1/2">
        <div class="flex flex-col gap-y-6">
            <p class="text-lg opacity-90">
                ¡Hola! Soy un 
                <span class="text-[#8367c7] font-semibold backdrop-opacity-100">programador junior con una sólida base en tecnologías web modernas.</span>
                Descubrí mi pasión por la programación resolviendo problemas complejos y dando vida a ideas creativas.
            </p>
            <p class="text-lg opacity-90">
                Actualmente estoy formándome como
                <span class="text-[#8367c7] font-semibold">ingeniero informático</span>
                en la Escuela Técnica Superior de Ingeniería informática de la <span class="text-[#8367c7] font-semibold">Universidad de Málaga</span>,
                aportando una gran creatividad a mis diseños.
            </p>
            <p class="text-lg opacity-90">
                Particularmente estoy interesado en el desarrollo web, y estoy
                <span class="text-[#8367c7] font-semibold">constantemente aprendiendo y ampliando mi conjunto de habilidades</span>
                para mantenerme a la vanguardia de la industria.
            </p>
        </div>
    </div>

    <div>
        <div class=" border-2 bg-transparent rounded-lg p-6 shadow-sm">
            <div class="flex flex-col gap-y-6">
                <div class="flex items-start">
                    <div class="flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-md bg-[#C9FF6C]/70">
                        <Habilidades class="size-8" />
                    </div>

                    <div class="ml-4">
                        <h3 class="text-lg font-medium">Código limpio</h3>
                        <p class="mt-2 opacity-90">
                            Escribo código mantenible y bien documentado que sigue las mejores prácticas y patrones de diseño.
                        </p>
                    </div>
                </div>
                
                <div class="flex items-start">
                    <div class="flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-md bg-[#C9FF6C]/70">
                        <Libro class="size-7" />
                    </div>

                    <div class="ml-4">
                        <h3 class="text-lg font-medium">Aprendizaje continuo</h3>
                        <p class="mt-2 opacity-90">
                            Estoy comprometido con la formación continua, manteniéndome al día de las nuevas tecnologías y enfoques.
                        </p>
                    </div>
                </div>
                
                <div class="flex items-start">
                    <div class="flex-shrink-0 flex items-center justify-center size-12 rounded-md bg-[#C9FF6C]/70">
                        <Equipo class="size-7" />
                    </div>

                    <div class="ml-4">
                        <h3 class="text-lg font-medium">Trabajo en equipo</h3>
                        <p class="mt-2 opacity-90">
                            Me desenvuelvo bien en entornos de colaboración, valorando la comunicación clara y el intercambio de conocimientos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>