---
import "@fontsource-variable/onest"
import '../styles/global.css';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string
	description: string
}

const {title, description} = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content={description} />
		<meta property="og:title" content="Portafolio de Hugo Macías" />
  		<meta property="og:description" content="Diseño y desarrollo web profesional." />
  		<meta property="og:image" content="/Foto_perfil.webp" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="fixed left-0 top-0 -z-10 h-full w-full">
			<div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#C9FF6C_100%)]"></div>
		</div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}
	
	html{
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	
	body {
		background-color: #050505;
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	@media (prefers-reduce-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
